mixin modal(data)
  .modal&attributes(attributes)
    h3.text-white.mb-35 Напишите нам
    form.form.form--light(action="#", method="post")
      .form__item.form-group
        p.xs.form-label.font-secondary.mb-5 Имя
        input.input.form-control(type="text", placeholder="Введите")
      .form__item.form-group
        p.xs.form-label.font-secondary.mb-5 Фамилия
        input.input.form-control(type="text", placeholder="Введите")
      .form__item.form-group
        p.xs.form-label.font-secondary.mb-5 E-mail
        input.input.form-control(type="email", placeholder="Введите")
      .form__item.form-group
        p.xs.form-label.font-secondary.mb-5 Ваше сообщение
        textarea.input.input--textarea.form-control(type="text", placeholder="Введите")
      button.btn.btn-light.btn-lg.w-100(type="submit") Отправить
      .form-check.mt-35.mb-0
        input#check1.form-check-input(type='checkbox' checked value='')
        label.form-check-label(for='check1') Я согласен 
          a(href="https://www.scienceid.net/agreement", target="_blank") с политикой обработки персональных данных
