@font-face {
  font-family: 'Mont';
  src: url('../fonts/subset-Mont-Light.woff2') format('woff2'),
    url('../fonts/subset-Mont-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/subset-Mont-Regular.woff2') format('woff2'),
    url('../fonts/subset-Mont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/subset-Mont-SemiBold.woff2') format('woff2'),
    url('../fonts/subset-Mont-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url('../fonts/subset-GolosText-Regular.woff2') format('woff2'),
    url('../fonts/subset-GolosText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url('../fonts/subset-GolosText-DemiBold.woff2') format('woff2'),
    url('../fonts/subset-GolosText-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
