h1,
.h1 {
}

h2,
.h2 {
  font-size: 76px;
  line-height: 1.2;
  font-weight: 300;

  @include media-breakpoint-down(xxxl) {
    font-size: 60px;
  }

  @include media-breakpoint-down(xxl) {
    font-size: 50px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 40px;
  }

  @include media-breakpoint-down(md) {
    font-size: 30px;
  }

  &.sm {
    font-size: 60px;

    @include media-breakpoint-down(xxl) {
      font-size: 50px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 40px;
    }

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }
}

h3,
.h3 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;

  @include media-breakpoint-down(xxl) {
    font-size: 32px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 26px;
  }

  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
}

h4,
.h4 {
  font-size: 30px;
  line-height: 1.5;

  @include media-breakpoint-down(xxl) {
    font-size: 26px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 22px;
  }

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

h5,
.h5 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  color: rgba($dark, .8);

  @include media-breakpoint-down(xxl) {
    font-size: 18px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }
}

h6,
.h6 {
}

p,
.p {
  font-size: 20px;
  line-height: 1.2;

  @include media-breakpoint-down(xxxl) {
    font-size: 18px;
  }

  @include media-breakpoint-down(xxl) {
    font-size: 16px;
  }

  &.xl {
    font-size: 30px;
    line-height: 1.5;

    @include media-breakpoint-down(xxxl) {
      font-size: 24px;
    }

    @include media-breakpoint-down(xxl) {
      font-size: 20px;
    }
  }

  &.lg {
    font-size: 24px;
    line-height: 1.5;

    @include media-breakpoint-down(xxxl) {
      font-size: 20px;
    }

    @include media-breakpoint-down(xxl) {
      font-size: 18px;
    }
  }

  &.md {
    font-size: 18px;
    line-height: 1.33;

    @include media-breakpoint-down(xxxl) {
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  &.sm {
    font-size: 16px;
    line-height: 1.5;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  &.xs {
    font-size: 14px;
    line-height: 1.5;

    @include media-breakpoint-down(md) {
      font-size: 13px;
    }
  }
}

.lh-md {
  line-height: 1.5;
}

.lh-lg {
  line-height: 1.6 !important;
}

.lh-xl {
  line-height: 1.8 !important;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-black {
  font-weight: 900;
}

.font-secondary {
  font-family: $font-family-secondary;
}

.transparent {
  opacity: .5;
}

.semi-transparent {
  opacity: .8;
}

.text-gray {
  color: $gray;
}

.text-gray-light {
  color: $gray-light;
}

ul {

  li {
  }

  &.square {
    padding-left: 0;

    li {
      position: relative;
      margin-bottom: 30px;
      padding-left: 26px;
      list-style: none;
      font-size: 20px;
      line-height: 1.6;

      @include media-breakpoint-down(xxxl) {
        font-size: 18px;
      }

      @include media-breakpoint-down(xxl) {
        margin-bottom: 20px;
        font-size: 16px;
      }

      &:before {
        position: absolute;
        top: 12px;
        left: 0;
        display: block;
        width: 8px;
        height: 8px;
        content: '';
        background: $primary;

        @include media-breakpoint-down(xxxl) {
          top: 10px;
        }

        @include media-breakpoint-down(xxl) {
          top: 8px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
