.slider {
  margin-top: 80px;

  @include media-breakpoint-down(md) {
    margin-top: 60px;
  }

  &__content {
    margin-left: -12px;
    width: calc(100% + 12px);

    .slick-list {
      overflow: visible;
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      height: auto;
    }

    .slick-arrow {
      position: absolute;
      top: -56px;
      width: 45.23px;
      height: 16px;
      font-size: 0;
      background: url(../img/slider-arrow-dark.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xxl) {
        top: -40px;
      }

      &.slick-prev {
        left: 12px;
        transform: rotate(180deg);
      }

      &.slick-next {
        left: 98px;

        @include media-breakpoint-down(xxl) {
          left: 76px;
        }
      }
    }
  }

  &__item {
    margin: 0 12px;
  }
}
