
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/search/search.pug
include ../blocks/section/section.pug
include ../blocks/feature/feature.pug
include ../blocks/monitor/monitor.pug
include ../blocks/info/info.pug
include ../blocks/expert/expert.pug
include ../blocks/experts/experts.pug
include ../blocks/support/support.pug
include ../blocks/calendar/calendar.pug
include ../blocks/main/main.pug
include ../blocks/select/select.pug
include ../blocks/news/news.pug
include ../blocks/field/field.pug
include ../blocks/schedule/schedule.pug
include ../blocks/partners/partners.pug
include ../blocks/event/event.pug
include ../blocks/date/date.pug
include ../blocks/footer/footer.pug
include ../blocks/updates/updates.pug
include ../blocks/menu/menu.pug
include ../blocks/navigator/navigator.pug
include ../blocks/link/link.pug
include ../blocks/divider/divider.pug
include ../blocks/direction/direction.pug
include ../blocks/institute/institute.pug
include ../blocks/tag/tag.pug
include ../blocks/slider/slider.pug
include ../blocks/card/card.pug
include ../blocks/article/article.pug
include ../blocks/back/back.pug
include ../blocks/quote/quote.pug
include ../blocks/document/document.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/auth/auth.pug
include ../blocks/cabinet/cabinet.pug

include ../blocks/item/item.pug
include ../blocks/person/person.pug
include ../blocks/winner/winner.pug
include ../blocks/report/report.pug
include ../blocks/file/file.pug
include ../blocks/filters/filters.pug
include ../blocks/center/center.pug
include ../blocks/hero/hero.pug
include ../blocks/achievement/achievement.pug
include ../blocks/content/content.pug
include ../blocks/stat/stat.pug
include ../blocks/details/details.pug
include ../blocks/advantage/advantage.pug
include ../blocks/parameters/parameters.pug
include ../blocks/parameter/parameter.pug
include ../blocks/accomplishment/accomplishment.pug
include ../blocks/note/note.pug
include ../blocks/even/even.pug
include ../blocks/doc/doc.pug
include ../blocks/modal/modal.pug
include ../blocks/organizer/organizer.pug