.filters {

  &__btn {
    display: none;

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:after {
      margin-left: 10px;
      display: block;
      width: 19px;
      height: 10px;
      flex-shrink: 0;
      content: '';
      background: url(../img/arrow-white-down.svg) no-repeat center;
      background-size: contain;

      @include transition;
    }

    &--active {

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
      display: none;
    }
  }
}
