mixin filters(data)
  .filters&attributes(attributes)
    a.btn.btn-primary.btn-lg.filters__btn(href="#") Фильтры
    .filters__content
      form.form(action="#", method="post")
        .row
          .col-xxl-2.col-lg-4.col-sm-6.d-flex.align-items-end
            .form__item.form-group
              .form-check.form-check--switch
                input#check1.form-check-input(type='checkbox' checked value='')
                label.form-check-label(for='check1')
                  span.form-check__switch-item Будущие
                  span.form-check__switch-item Прошедшие
          .col-xxl-2.col-lg-4.col-sm-6.d-flex.align-items-end
            .form__item.form__item--calendar.form-group
              p.xs.form-label.font-secondary.mb-5 Даты проведения
              input.input.input--calendar.form-control(type="text", placeholder="Выберите")
          .col-xxl-2.col-lg-4.col-sm-6.d-flex.align-items-end
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Организатор
              +select({
                placeholder: 'Выберите'
            }).select--default
          .col-xxl-2.col-lg-4.col-sm-6.d-flex.align-items-end
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Город проведения
              +select({
                placeholder: 'Выберите'
            }).select--default
          .col-xxl-2.col-lg-4.col-sm-6.d-flex.align-items-end
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Теги
              +select({
                placeholder: 'Выберите',
                multiple: true
            }).select--default
          .col-xxl-2.col-lg-4.col-sm-6.d-flex.align-items-end
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Тип мероприятия
              +select({
                placeholder: 'Выберите',
                multiple: true
            }).select--default
        .form-check
          input#check2.form-check-input(type='checkbox' checked value='')
          label.form-check-label(for='check2') Идет регистрация 