.section {
  position: relative;
  padding: 96px 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;

  @include media-breakpoint-down(xl) {
    padding: 30px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  &__left {
    padding-right: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(xl) {
      margin-bottom: 40px;
      padding: 0;
    }
  }

  &__left-top {
  }

  &__title {
    margin-bottom: 16px;
  }

  &__dscr {
    margin-bottom: 16px;
  }

  &__left-bottom {
  }

  &__operator {
  }

  &__operator-header {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.8;
    color: #a7a7ab;
  }

  &__operator-title {
    font-size: 12px;
    line-height: 1.8;
    color: #000;
  }

  &__item {

    &--row {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(lg) {
        margin-top: 40px;
      }
    }
  }

  &__item-dscr {
  }

  &__stats {
    margin-bottom: -70px;

    @include media-breakpoint-down(xl) {
      margin-bottom: -40px;
    }
  }

  &__btn {
    margin-top: 68px;

    @include media-breakpoint-down(xl) {
      margin-top: 20px;
    }
  }

  &--light {
    border-top: 1px solid rgba($primary, .3);
    border-bottom: 1px solid rgba($primary, .3);

    .section__title {
      color: $primary;
    }
  }

  &--dark {
    display: flex;
    color: #fff;

    .section__bg {
      object-position: left center;
    }

    .section__content {
      display: flex;
    }

    .stat {
      margin-bottom: 64px;
      padding-right: 48px;

      @include media-breakpoint-down(xxl) {
        max-width: none;
      }

      @include media-breakpoint-down(xl) {
        margin-bottom: 40px;
        padding-right: 0;
      }
    }

    .stat__title {
      color: #afd9ff;
    }

    .section__dscr {
      color: #fff;
    }

    .stat__dscr {
      color: #fff;
    }

    .section__operator-title {
      color: #fff;
    }
  }

  &--shadow {
    box-shadow: 0 15px 43px rgba(0, 0, 0, .1);
  }

  &--pattern {
    background: #fff;

    .section__bg {
      object-fit: contain;
      object-position: right center;
    }

    .section__item {
      margin-bottom: 64px;
      max-width: 280px;

      @include media-breakpoint-down(xl) {
        margin-bottom: 40px;
        max-width: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
