.organizer {
  margin-bottom: 40px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &__logo {
    margin-bottom: 20px;
    display: flex;
    width: 76px;
    height: 50px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }

  &__logo-img {
    max-width: 100%;
    max-height: 100%;
  }
}
