.hero {
  display: flex;
  width: 100%;

  @include media-breakpoint-down(xl) {
    margin-bottom: 40px;
    display: block;
  }

  &__front {
  }

  &__front-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    filter: blur(37px);
  }

  &__item {
    width: 100%;

    &--dark {

      .hero__item-top {
        color: #fff;

        @include media-breakpoint-down(md) {
          color: $dark;
        }
      }

      .hero__item-accent {
        color: #afd9ff;

        @include media-breakpoint-down(md) {
          color: $primary;
        }
      }
    }
  }

  &__item-accent {
    color: $primary;
  }

  &__item-wrapper {
    position: relative;
    padding: 34px 40px 40px;
    display: flex;
    width: 100%;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      padding: 0;
      flex-direction: column;
    }
  }

  &__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: right center;

    @include media-breakpoint-down(md) {
      position: static;
      width: 100%;
      height: 200px;
    }
  }

  &__item-content {
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 410px;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
  }

  &__item-top {

    @include media-breakpoint-down(md) {
      color: $dark;
    }
  }

  &__item-bottom {
    margin-top: 20px;
  }

  &__achievements {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(lg) {
      margin-top: 40px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 24px;
    }
  }

  &__dots-title {
    position: absolute;
    bottom: calc(100% + 2px);
    opacity: 0;
    font-size: 12px;
    line-height: 1.8;
    white-space: nowrap;
    color: $dark;

    @include transition;
  }

  .slick-list {
    display: flex;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    display: flex;
    height: auto;
  }

  .slick-dots {
    position: absolute;
    top: calc(100% + 57px);
    left: 43px;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xl) {
      position: static;
      margin-top: 40px;
    }

    li {
      position: relative;
      margin-right: 10px;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;

      &.slick-active {

        .hero__dots-title {
          opacity: 1;
        }

        button {
          width: 112px;
          height: 3px;
          background: $primary;
          border-radius: 0;

          @include media-breakpoint-down(md) {
            width: 40px;
          }
        }
      }

      button {
        display: block;
        width: 33px;
        height: 8px;
        font-size: 0;
        background: rgba(#afd9ff, .6);
        border-radius: 14px;

        @include media-breakpoint-down(md) {
          width: 20px;
        }

        @include transition;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
