mixin hero(data)
  .hero&attributes(attributes)
    +hero__item({
      title: 'Внедрение'
    })
    +hero__item({
      title: 'Регулирование',
      bg: 'accomplishment-1.jpg'
    }).hero__item--dark
      h3.mb-25 Этическое регулирование
      p.sm 
        span.hero__item-accent Яркий факт в цифрах: 
        span Действуют 33 нормативных акта, обеспечивающих социальную ответственность и безопасность использования систем искусственного интеллекта
      p.sm 
        span.hero__item-accent Достижение года: 
        span Кодекс этики в сфере искусственного интеллекта
    //+hero__item({
      title: 'Внедрение'
    //})
    //+hero__item({
      title: 'Регулирование',
    //})
      h3.mb-25 Этическое регулирование
      p.sm 
        span.hero__item-accent Яркий факт в цифрах: 
        span Действуют 33 нормативных акта, обеспечивающих социальную ответственность и безопасность использования систем искусственного интеллекта
      p.sm 
        span.hero__item-accent Достижение года: 
        span Кодекс этики в сфере искусственного интеллекта
    //+hero__item({
      title: 'Внедрение'
    //})
    +hero__item({
      title: 'Регулирование',
      bg: 'accomplishment-1.jpg'
    }).hero__item--dark
      h3.mb-25 AI Journey — крупнейшая международная конференция по ИИ
      p.sm Более 3 000 человек приняли участие в опросе для оценки уровня удовлетворенности условиями работы в сфере искусственного интеллекта
      p.sm Аналитический отчет с ключевыми показателями уровня развития искусственного интеллекта и рекомендациями по технологической трансформации
    //+hero__item({
      title: 'Внедрение'
    //})
    //+hero__item({
      title: 'Регулирование',
      bg: 'accomplishment-1.jpg'
    //}).hero__item--dark
      h3.mb-25 Этическое регулирование
      p.sm 
        span.hero__item--accent Яркий факт в цифрах: 
        span Действуют 33 нормативных акта, обеспечивающих социальную ответственность и безопасность использования систем искусственного интеллекта
      p.sm 
        span.hero__item--accent Достижение года: 
        span Кодекс этики в сфере искусственного интеллекта
    
    
    
mixin hero__item(data)
  .hero__item(data-title=data.title)&attributes(attributes)
    .row
      .col-lg-8.d-flex
        .hero__item-wrapper
          if data && data.bg
            img.hero__item-bg(src="./img/" + data.bg, alt)
          else
            img.hero__item-bg(src="./img/hero-1.jpg", alt)
          .hero__item-content
            .hero__item-top
              if block
                block
              else
                h3.mb-25 Внедрение искусственного интелекта
                p.sm Обеспечивающих социальную ответственность и безопасность использования систем искусственного интелекта
            .hero__item-bottom
              a.btn.btn-secondary.btn-new(href="#") Узнать больше
      .col-lg-4.d-flex
        .hero__achievements
          +achievement({
            number: '25',
            dscr: 'организаций присоединились к кодексу этики в сфере искусственного интеллекта'
          }).achievement--light
          +achievement({
            number: '6000+',
            dscr: 'человек приняли участие в первом международном форуме «Этика ИИ: начало доверия» в 2021 году'
          }).achievement--dark