.main {

  &__magic {
    padding-top: 100vh;

    @include media-breakpoint-down(xl) {
      padding-top: 0;
    }
  }

  &__sections {
    overflow: hidden;
  }

  &__section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out, transform .7s ease-in-out;
    transform: translateY(-100%);

    @include media-breakpoint-down(xl) {
      position: relative;
      padding: 100px 0;
      min-height: 0;
      opacity: 1;
      pointer-events: all;
    }

    @include media-breakpoint-down(md) {
      padding: 50px 0;
    }

    &--active {
      position: absolute;
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);

      @include media-breakpoint-down(xl) {
        position: relative;
      }

      & ~ .main__section {
        position: relative;
        transform: translateY(100%);

        @include media-breakpoint-down(xl) {
          transform: translateY(0);
        }
      }
    }
  }

  &__front {
  }

  &__front-content {
    margin-bottom: 140px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 100px;
    }
  }

  &__front-achievements {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(xl) {
      margin-top: 80px;
      width: 100%;
    }
  }
}
