.tag {
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 5.5px 7.1px;
  display: inline-flex;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  text-decoration: none;
  color: $primary;
  border: 1px solid $primary;

  @include transition;

  @include media-breakpoint-down(md) {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  &:hover {
    color: #fff;
    background: $primary;
  }
}
