.footer {

  &__wrapper {
    padding: 93px 0 61px;
    border-top: 1px solid rgba(#000, .21);

    @include media-breakpoint-down(xxl) {
      padding: 50px 0;
    }

    @include media-breakpoint-down(md) {
      padding: 40px 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    margin-bottom: 24px;
    display: block;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    text-decoration: none;
    color: $dark;

    @include transition;

    @include media-breakpoint-down(xl) {
      font-size: 16px;
    }
  }

  &__bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(xxl) {
      margin-top: 80px;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 40px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__bottom-right {
    display: flex;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
  }

  &__text {
    margin-right: 40px;
    font-family: $font-family-secondary;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    color: $dark;

    &:last-child {
      margin-right: 0;
    }
  }
}
