mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrapper
        .footer__top
          +logo.logo--footer
          a.btn.btn-outline-dark(href="#write" data-fancybox) Напишите нам
          +modal.modal--thin.modal--primary#write
        .footer__bottom
          .footer__text © 2021. Национальный портал в сфере искусственного интеллекта
          .footer__bottom-right
            a.footer__text(href="#") Пройти опрос
            a.footer__text(href="#") Карта сайта
            a.footer__text(href="#") Политика конфиденциальности
