.document {
  margin-bottom: 42px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__icon {
    position: relative;
    margin-right: 22px;
    max-width: 32px;
    max-height: 40px;
    flex-shrink: 0;
    align-self: flex-start;
  }

  &__icon-img {
    max-width: 100%;
    max-height: 100%;
  }

  &__icon-type {
    position: absolute;
    bottom: 3px;
    width: 100%;
    font-family: $font-family-secondary;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }

  &__content {
  }

  &__title {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    color: rgba($primary, .8);
  }

  &__type {
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 20px;
    color: rgba(#76767a, .8);
  }
}
