.card {
  margin: 0 12px;
  padding: 32px 32px 16px;
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

  @include media-breakpoint-down(lg) {
    padding: 16px 16px 0;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 8px;
  }

  &__picture {
    position: relative;
    margin-bottom: 16px;
    padding-top: 59.52%;
    display: block;
    overflow: hidden;
    border-radius: 4px;

    @include transition;

    &:hover {

      .card__picture-img {
        transform: scale(1.05);
      }
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: top center;

    @include transition;
  }

  &__content {
  }

  &__date {
    margin-bottom: 16px;
    line-height: 1.6;
    color: rgba(#333, .8);
  }

  &__title {
    margin-bottom: 16px;
    display: inline-flex;
    text-decoration: none;
    color: $dark;

    @include transition;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
  }
}
