.partners {
  padding: 105px 0 45px;

  @include media-breakpoint-down(md) {
    padding: 40px 0 0;
  }

  &__section {
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }
  }

  &__item {
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    align-items: center;

    @include media-breakpoint-down(xl) {
      justify-content: center;
    }
  }

  &__item-logo {
    max-width: 90%;
    max-height: 90%;
  }
}
