extends ../templates/template.pug
block content
  +header.header--static.header--front
  .main
    .main__front
      img.hero__front-img(src="./img/main-front-bg.jpg", alt)
      .container
        .main__front-content
          .row
            .col-xl-3.order-2.order-xl-1
              +center
            .col-xl-9.order-1.order-xl-2
              +hero
    .container.mb-20.mb-xl-40
      .row.justify-content-center
        .col-lg.col-md-3.col-sm-4.col-6
          +organizer({
            logo: 'organizer-1.png',
            title: 'ict.moscow',
            link: 'https://ict.moscow/projects/ai/'
          })
        .col-lg.col-md-3.col-sm-4.col-6
          +organizer({
            logo: 'organizer-2.png',
            title: 'airussia.online',
            link: 'http://airussia.online/#titul'
          })
        .col-lg.col-md-3.col-sm-4.col-6
          +organizer({
            logo: 'organizer-3.png',
            title: 'ai-russia.ru',
            link: 'https://ai-russia.ru/'
          })
        .col-lg.col-md-3.col-sm-4.col-6
          +organizer({
            logo: 'organizer-4.png',
            title: 'ai-russia.ru',
            link: 'https://habr.com/ru/hub/artificial_intelligence/'
          })
        .col-lg.col-md-3.col-sm-4.col-6
          +organizer({
            logo: 'organizer-5.png',
            title: 'ods.ai',
            link: 'https://ods.ai/'
          })
        .col-lg.col-md-3.col-sm-4.col-6
          +organizer({
            logo: 'organizer-6.png',
            title: 'raai.org',
            link: 'http://www.raai.org/'
          })
        .col-lg.col-md-3.col-sm-4.col-6
          +organizer({
            logo: 'organizer-7.png',
            title: 'nsud.info.gov.ru',
            link: 'https://nsud.info.gov.ru/ifp/portals'
          })
    .main__sections
      +section({
        bgWhite: true,
        type: 'staff',
        title: 'Кадры',
        dscr: 'Трансформация системы образования к 2024 году',
        stats: [['stat-1.svg', '10', 'Программ бакалавриата по направлениям ии появится в высших учебных заведениях'], ['stat-2.svg', '40', 'программ магистратуры'], ['stat-3.svg', '97 000', 'школьников пройдут преакселерационные программы'], ['stat-4.svg', '500 000', 'человек пройдут обучение по программам высшего образования в сфере информационных технологий']]
      }).section--light.section--shadow
      +section({
        type: 'short',
        bg: 'section-1.jpg',
        title: 'Наука',
        dscr: 'Поддержка сследовательских центров в сфере ИИ',
        operator: 'АНО “Аналитический центр при Правительстве РФ”',
        stats: [['stat-5.svg', '6', 'центров отобрано по ключевым направлениям ИИ (Сколтех, МФТИ, ИСП РАН, Иннополис, ИТМО, ВШЭ)'], ['stat-6.svg', '900 млн, р ', 'Поддрежаны 6 центров'], ['stat-7.svg', '7 млрд, р', '6+ центров (30 %внебюджетное финансирование)']]
      }).section--dark
      +section({
        type: 'short',
        bg: 'section-2.svg',
        title: 'Развитие',
        dscr: 'Гранты малым предприятиям на разработку ИИ-решений',
        operator: 'Фонд содействия инновациям',
        stats: [['stat-8.svg', '2-40 млн, р ', 'В июле 2021 года запущены конкурсы на предоставление грантов от 4 до 20 млн рублей '], ['stat-9.svg', '1,5 млрд, р', 'Поддержки выделенно на 140 команд, 8 разработчиков открытых библиотек и 100 акселерационных проектов '], ['stat-10.svg', '1200+', 'команд получат поддержку по приоритетным направлениям ИИ 7 млрд. руб.']]
      }).section--dark
      +section({
        bg: 'section-pattern.svg',
        type: 'regulations',
        title: 'Регуляторика',
        dscr: 'Комплекс стандартов в сфере ИИ',
        operator: 'Росстандарт'
      }).section--light.section--pattern
    .container
      .row.mt-40.mt-xl-100
        .col-xxl-3.col-lg-4.col-6
          +content({
            icon: 'content-1.svg',
            title: 'Стратегия ИИ',
            links: ['Стратегия ИИ', 'ФП ИИ', 'Инициативы', 'Органы', 'Указы', 'Постановления', 'Зарубежная политика', '→ Навигатор']
          })
        .col-xxl-3.col-lg-4.col-6
          +content({
            icon: 'content-2.svg',
            title: 'Внедрение',
            links: ['ИНдекс', 'ВПЦТ и ФОИВ', 'ИИ vs Сovid', 'Гранты SK', '→ Навигатор']
          })
        .col-xxl-3.col-lg-4.col-6
          +content({
            icon: 'content-3.svg',
            title: 'R&D',
            links: ['ИЦ', 'Исследования', 'Ученые', 'Патенты', 'Исследования Минпромторга', '→ Навигатор']
          })
        .col-xxl-3.col-lg-4.col-6
          +content({
            icon: 'content-4.svg',
            title: 'Развитие',
            links: ['Гранты ФСИ', 'Быстрорастущие компании', 'Образование', 'Соц. опрос условий труда', 'Хакатоны', '→ Навигатор']
          })
        .col-xxl-3.col-lg-4.col-6
          +content({
            icon: 'content-5.svg',
            title: 'Регуляторика',
            links: ['Стратегия ИИ', 'ФП ИИ', 'Инициативы', 'Органы', 'Указы', 'Постановления', 'Зарубежная политика', '→ Навигатор']
          })
        .col-xxl-3.col-lg-4.col-6
          +content({
            icon: 'content-6.svg',
            title: 'Инфраструктура',
            links: ['Разработка АПК', 'ЦКП', 'Реестр гос дата-сетов', 'Реестр открытых дата-сетов', 'Реестр инфр. решений', '→ Навигатор']
          })
        .col-xxl-3.col-lg-4.col-6
          +content({
            icon: 'content-7.svg',
            title: 'Сообщество',
            links: ['Доверие к ИИ', 'Форумы по ИИ', 'Форум «Этика ИИ»', 'Региональные сообщества', 'Источники', '→ Навигатор']
          })
    +partners
    +footer
  
