extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="front.html", style="font-size: 20px;") Front
          li(style="list-style: none;")
            a.d-block.my-20(href="navigator.html", style="font-size: 20px;") Navigator
          li(style="list-style: none;")
            a.d-block.my-20(href="database.html", style="font-size: 20px;") Database
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="article-document.html", style="font-size: 20px;") Article Document
          li(style="list-style: none;")
            a.d-block.my-20(href="article-reference.html", style="font-size: 20px;") Article Reference
          li(style="list-style: none;")
            a.d-block.my-20(href="article-media.html", style="font-size: 20px;") Article Media
          li(style="list-style: none;")
            a.d-block.my-20(href="article-research.html", style="font-size: 20px;") Article Research
          li(style="list-style: none;")
            a.d-block.my-20(href="login.html", style="font-size: 20px;") Login
          li(style="list-style: none;")
            a.d-block.my-20(href="registration.html", style="font-size: 20px;") Registration
          li(style="list-style: none;")
            a.d-block.my-20(href="restore.html", style="font-size: 20px;") Restore
            a.d-block.my-20(href="restore-new.html", style="font-size: 20px;") New Password
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet.html", style="font-size: 20px;") Cabinet
          li(style="list-style: none;")
            a.d-block.my-20(href="events.html", style="font-size: 20px;") Events
          li(style="list-style: none;")
            a.d-block.my-20(href="event.html", style="font-size: 20px;") Event
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet-new.html", style="font-size: 20px;") Cabinet New
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-edit.html", style="font-size: 20px;") Profile Edit
          li(style="list-style: none;")
            a.d-block.my-20(href="section.html", style="font-size: 20px;") Section
          li(style="list-style: none;")
            a.d-block.my-20(href="docs.html", style="font-size: 20px;") Docs
          li(style="list-style: none;")
            a.d-block.my-20(href="about.html", style="font-size: 20px;") About
          li(style="list-style: none;")
            a.d-block.my-20(href="contacts.html", style="font-size: 20px;") Contacts
          li(style="list-style: none;")
            a.d-block.my-20(href="survey.html", style="font-size: 20px;") Survey
