mixin logo(data)
  a.logo(href="index.html")&attributes(attributes)
    img.logo__img(src="./img/logo.png", alt)
    .logo__content 
      .logo__content-top Искусственный интеллект Российской Федерации
      .logo__content-bottom При поддержке Аналитического центра при Правительстве 
        span.logo__content-additional.logo__content-additional--wide Российской Федерации
        span.logo__content-additional.logo__content-additional--short РФ
