.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__img {
    margin-right: 28px;
    max-width: 63px;
    flex-shrink: 0;

    @include media-breakpoint-down(xxl) {
      margin-right: 16px;
    }

    @include media-breakpoint-down(md) {
      max-width: 50px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 7px;
      max-width: 32px;
    }
  }

  &__content {
    max-width: 235px;
  }

  &__content-top {
    margin-bottom: 5px;
    max-width: 200px;
    font-family: $font-family-secondary;
    font-size: 12.12px;
    line-height: 17px;
    font-weight: 600;
    color: $dark;

    @include media-breakpoint-down(sm) {
      font-size: 7px;
      line-height: 1.3;
    }
  }

  &__content-bottom {
    font-size: 10px;
    line-height: 17px;
    font-weight: 600;
    color: #76767a;

    @include media-breakpoint-down(sm) {
      font-size: 7px;
      line-height: 1.3;
    }
  }

  &__content-additional {

    &--short {
      display: none;
    }

    &--wide {
    }
  }

  &--header {

    .logo__content-additional {

      &--short {

        @include media-breakpoint-down(xxl) {
          display: inline;
        }
      }

      &--wide {

        @include media-breakpoint-down(xxl) {
          display: none;
        }
      }
    }
  }

  &--footer {

    .logo__img {

      @include media-breakpoint-down(xxl) {
        margin-right: 28px;
      }

      @include media-breakpoint-down(sm) {
        margin-right: 7px;
      }
    }

    .logo__content {

      @include media-breakpoint-down(sm) {
        max-width: 160px;
      }
    }
  }
}
