.center {
  position: relative;
  width: 100%;
  border: 1px solid rgba(#000, .2);
  border-radius: 10px;

  &__wrapper {
    padding: 15px 24px 0;

    @include media-breakpoint-down(md) {
      padding: 20px 24px 0 20px;
    }
  }

  &__header {

    @include media-breakpoint-down(xl) {
      font-size: 20px;
    }
  }

  &__content {
    position: relative;
    margin-right: -25px;
    overflow: hidden;
    width: calc(100% + 25px);
    height: 416px;

    @include media-breakpoint-down(xl) {
      height: 300px !important;
    }

    .ps__rail-y {
      width: 1px !important;
      opacity: 1 !important;
    }

    .ps__thumb-y {
      right: 0;
      width: 1px !important;
      background: $dark !important;
      border-radius: 0;
    }
  }

  &__link {
    position: absolute;
    top: calc(100% + 46px);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: $primary;

    @include transition;

    @include media-breakpoint-down(xl) {
      top: calc(100% + 20px);
    }
  }

  &__item {
    margin-bottom: 24px;
    padding-right: 20px;
    max-width: 250px;
  }

  &__item-date {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.8;
    color: $gray-light;
  }

  &__item-title {
    margin-bottom: 0;
    text-decoration: none;
    color: $dark;

    @include transition;
  }
}
