.file {
  position: relative;
  padding: 11px 60px 8px;
  display: inline-flex;
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
  background: rgba(255, 255, 255, .39);
  border: 1px solid #fff;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
