.cabinet {
  overflow: hidden;

  &__top {
    margin-bottom: 4px;
    padding: 74px 0 80px;
    background: $primary;

    @include media-breakpoint-down(xl) {
      padding: 30px 0;
    }
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xl) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__top-left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__picture {
    position: relative;
    margin-right: 64px;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    background: #0086ff url(../img/photo-bg.svg) no-repeat center;

    @include media-breakpoint-down(xxl) {
      margin-right: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__info-wrapper {
    padding-right: 20px;
    max-width: 300px;

    &--wide {
      max-width: 690px;

      @include media-breakpoint-down(xxl) {
        max-width: 500px;
      }
    }
  }

  &__info {
    margin-bottom: -10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__info-item {
    margin-right: 48px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social {
    margin-right: 24px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__social-icon {
  }

  &__top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @include media-breakpoint-down(xl) {
      margin-bottom: 30px;
      width: 100%;
      flex-direction: row-reverse;
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__top-right-links {
    display: flex;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__link {
    margin-right: 40px;
    font-size: 14px !important;
    text-decoration: none;
    color: #fff;

    @include transition;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }

  &__id {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.8;
    color: #fff;

    &:before {
      margin-right: 15px;
      display: block;
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      content: '';
      background: url(../img/id-icon.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__content {
    padding-bottom: 34px;
  }

  &__profile {
    margin-bottom: 34px;
    padding-top: 50px;
  }

  &__profile-item {
    margin-bottom: 36px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__profile-item-header {
    padding-right: 20px;
    width: 272px;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      padding-right: 0;
    }
  }

  &__profile-item-content {
    font-size: 20px;
    line-height: 1.6;
    color: $primary;
  }
}
