.achievement {
  margin-bottom: 24px;
  padding: 20px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  border-radius: 10px;

  @include media-breakpoint-down(xxl) {
    padding: 24px;
  }

  @include media-breakpoint-down(xl) {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--green {
    background: url(../img/achievement-green.svg) no-repeat center;
    background-size: cover;
  }

  &--violet {
    background: url(../img/achievement-violet.svg) no-repeat center;
    background-size: cover;
  }

  &--light {
    background: url(../img/achievement--light.png) no-repeat center;
    background-size: cover;
  }

  &--dark {
    background: url(../img/achievement--dark.png) no-repeat center;
    background-size: cover;
  }
}
