mixin person(data)
  .person&attributes(attributes)
    .person__picture
      img.person__picture-img(src="./img/" + data.picture, alt)
    .person__content
      p.fw-semibold.mb-5= data.name
      p.sm.mb-0 CEO, управляющий партнер, системный инженер, руководитель проектов
