.person {
  margin-bottom: 34px;
  display: flex;
  align-items: center;

  &__picture {
    position: relative;
    margin-right: 38px;
    overflow: hidden;
    width: 112px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 20px;

    @include media-breakpoint-down(xl) {
      margin-right: 20px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
  }
}
