.stat {
  margin-bottom: 70px;
  //  max-width: 400px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-down(lg) {
    max-width: none;
  }

  &__header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 36px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  &__icon-img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    margin-bottom: 0;
    color: $primary;
  }

  &__dscr {
    margin-bottom: 0;
    color: #76767a;
  }
}
