mixin stat(data)
  .stat&attributes(attributes)
    .stat__header
      .stat__icon
        img.stat__icon-img(src="./img/" + data.icon, alt)
      h3.stat__title= data.header
    p.sm.stat__dscr= data.dscr
