.menu {

  &__btn {
    display: none;

    @include media-breakpoint-down(xl) {
      display: block;
      width: 40px;
      height: 40px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 70%;
    }

    &--active {

      @include media-breakpoint-down(xl) {
        position: relative;
        z-index: 11;
        background: url(../img/close.svg) no-repeat center;
        background-size: 70%;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-down(xl) {
      display: none;
    }

    &--active {

      @include media-breakpoint-down(xl) {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        padding-top: 100px;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background: #f4f4f4 url(../img/logo.png) no-repeat 16px 16px;
        background-size: 59px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 80px;
        background: #f4f4f4 url(../img/logo.png) no-repeat 10px 16px;
        background-size: 50px;
      }
    }
  }

  &__item {
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;

    @include transition;

    @include media-breakpoint-down(xxl) {
      padding: 8px 13px;
    }

    @include media-breakpoint-down(xl) {
      margin-bottom: 10px;
      text-align: center;
    }

    &:hover {

      .menu__link {
        z-index: 2;
        text-decoration: underline;
        color: $primary;

        @include media-breakpoint-down(xl) {
          color: $dark;
        }
      }

      .menu__submenu {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    text-decoration: none;
    color: $dark;

    @include transition;

    @include media-breakpoint-down(xxl) {
      font-size: 13px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 30px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--header {
      z-index: 2;
    }
  }

  &__submenu {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 20px;
    padding-top: 55px;
    padding-bottom: 10px;
    min-width: calc(100% + 20px);
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;

    @include transition;

    @include media-breakpoint-down(xl) {
      position: static;
      padding-top: 20px;
      display: none;
      min-width: 0;
      opacity: 1;
      pointer-events: all;
    }
  }

  &__submenu-content {
    position: relative;
    padding: 24px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 14px 21px rgba(0, 0, 0, .25);

    @include media-breakpoint-down(xl) {
      padding: 0;
      text-align: center;
      background: transparent;
      border: 0;
      box-shadow: none;
    }
  }

  &__sublink {
    margin-bottom: 18px;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: $dark;

    @include transition;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xxl) {
      font-size: 13px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 20px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    &:hover {
      color: $primary;
    }
  }
}
