mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      .menu__item
        a.menu__link.menu__link--header(href="#") Стратегия ИИ
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Стратегия ИИ
            a.menu__sublink(href="#") ФП ИИ
            a.menu__sublink(href="#") Инициативы
            a.menu__sublink(href="#") Органы
            a.menu__sublink(href="#") Указы
            a.menu__sublink(href="#") Постановления
            a.menu__sublink(href="#") Зарубежная политика
      .menu__item
        a.menu__link.menu__link--header(href="#") R&D
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Ссылка 1
            a.menu__sublink(href="#") Ссылка 2
      .menu__item
        a.menu__link.menu__link--header(href="#") Внедрение
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Ссылка 1
            a.menu__sublink(href="#") Ссылка 2
            a.menu__sublink(href="#") Ссылка 3
            a.menu__sublink(href="#") Ссылка 4
            a.menu__sublink(href="#") Ссылка 5
      .menu__item
        a.menu__link.menu__link--header(href="#") R&D
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Ссылка 1
            a.menu__sublink(href="#") Ссылка 2
            a.menu__sublink(href="#") Ссылка 3
            a.menu__sublink(href="#") Ссылка 4
            a.menu__sublink(href="#") Ссылка 5
      .menu__item
        a.menu__link.menu__link--header(href="#") Развитие
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Ссылка 1
            a.menu__sublink(href="#") Ссылка 2
            a.menu__sublink(href="#") Ссылка 3
      .menu__item
        a.menu__link.menu__link--header(href="#") Регуляторика
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Ссылка 1
            a.menu__sublink(href="#") Ссылка 2
      .menu__item
        a.menu__link.menu__link--header(href="#") Сообщество
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Ссылка 1
            a.menu__sublink(href="#") Ссылка 2
            a.menu__sublink(href="#") Ссылка 3
            a.menu__sublink(href="#") Ссылка 4
      .menu__item
        a.menu__link.menu__link--header(href="#") Инфраструктура
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Ссылка 1
            a.menu__sublink(href="#") Ссылка 2
            a.menu__sublink(href="#") Ссылка 3
            a.menu__sublink(href="#") Ссылка 4
            a.menu__sublink(href="#") Ссылка 5
            a.menu__sublink(href="#") Ссылка 6
      .menu__item
        a.menu__link(href="#") О портале
      .menu__item
        a.menu__link(href="#") Медиацентр
      .menu__item
        a.menu__link(href="#") Календарь мероприятий
      .menu__item
        a.menu__link.menu__link--header(href="#") Искусственный интелект 
        .menu__submenu
          .menu__submenu-content
            a.menu__sublink(href="#") Ссылка 1
            a.menu__sublink(href="#") Ссылка 2
            a.menu__sublink(href="#") Ссылка 3
            a.menu__sublink(href="#") Ссылка 4
            a.menu__sublink(href="#") Ссылка 5
            a.menu__sublink(href="#") Ссылка 6
      .menu__item
        a.menu__link(href="#") Контакты
      .menu__item
        a.menu__link(href="#") База знаний
