mixin winner(data)
  a.winner(href="#")&attributes(attributes)
    .winner__picture
      img.winner__picture-img(src="./img/" + data.picture, alt)
    .winner__content
      p.text-gray.text-center.mb-20 Студент
      h4.text-center.mb-20= data.name
      p.sm.winner__occupation ПАО «Газпром добыча Надым»
      p.lg.text-primary.text-center.mb-20 Разработка и развитие программного обеспечения
      p.winner__place 1-ое место