.winner {
  padding: 72px 32px;
  text-decoration: none;
  //  border: 1px solid rgba($dark, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

  &__picture {
    position: relative;
    margin: 0 auto 16px;
    overflow: hidden;
    width: 252px;
    height: 252px;
    border-radius: 40px;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
  }

  &__occupation {
    margin-bottom: 20px;
    text-align: center;
    color: #76767a;
  }

  &__place {
    margin-bottom: 0;
    text-align: center;
    color: #76767a;
  }
}
