mixin header(data)
  .header&attributes(attributes)
    .container
      .row
        .col-xl-3.col-6.d-flex
          +logo.logo--header
        .col-xl-9.col-6.d-flex
          .header__wrapper
            +menu.header__menu
            .header__right
              +search.search--sm.header__search
              a.header__btn.header__btn--search(href="#")
              a.header__btn.header__btn--language(href="#") Ru
              a.header__btn.header__btn--user(href="#")
                img.header__btn-icon(src="./img/icon-user-light.svg", alt)
