.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 28px 0;
  width: 100%;

  @include media-breakpoint-down(xxl) {
    padding: 20px 0;
  }

  @include media-breakpoint-down(xl) {
    z-index: 10;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xl) {
      justify-content: flex-end;
    }
  }

  &__right {
    position: relative;
    display: flex;
  }

  &__menu {
    margin-right: 53px;
    margin-left: -20px;
    width: calc(100% + 20px);

    @include media-breakpoint-down(xxl) {
      margin-right: 20px;
      margin-left: -13px;
      width: calc(100% + 13px);
    }

    @include media-breakpoint-down(xl) {
      margin-right: 0;
      margin-left: 15px;
      width: auto;
      order: 1;
    }
  }

  &__btn {
    margin-right: 15px;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:last-child {
      margin-right: 0;
    }

    &--language {
      background: $primary;

      &:hover {
        color: #fff;
      }
    }

    &--user {
      background: $secondary;
    }

    &--search {
      background: url(../img/zoom-icon.svg) no-repeat center;
      border: 1px solid $primary;
    }
  }

  &__search {
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    right: 0;
    display: none !important;

    &--active {
      display: flex !important;
    }
  }

  &__btn-icon {
  }

  &--static {
    position: static;
    margin-bottom: 100px;
    border-bottom: 1px solid #d9d9de;

    @include media-breakpoint-down(xl) {
      margin-bottom: 40px;
    }
  }

  &--front {
    margin-bottom: 20px;
    border-bottom: 0;
  }
}
