mixin content(data)
  .content&attributes(attributes)
    .content__icon
      img.content__icon-img(src="./img/" + data.icon, alt)
    h5.mb-30= data.title
    each item in data.links
      a.p.sm.content__link(href="#")= item
