.content {
  margin-bottom: 64px;

  &__icon {
    margin-bottom: 38px;
  }

  &__icon-img {
  }

  &__link {
    margin-bottom: 13px;
    display: block;
    text-decoration: none;
    color: $primary;

    @include transition;
  }
}
